<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ChasingtheLight.mapper.UserMapper">

    <!-- 检查用户名是否存在 -->
    <select id="countByUserName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user WHERE user_name = #{userName}
    </select>

    <!-- 检查邮箱是否存在 -->
    <select id="countByEmail" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user WHERE email = #{email}
    </select>

    <!-- 检查手机号是否存在 -->
    <select id="countByPhoneNumber" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 插入用户信息 -->
    <insert id="insertUser" parameterType="com.ChasingtheLight.entity.User">
        INSERT INTO user (user_name, password, email, phone_number)
        VALUES (#{userName}, #{password}, #{email}, #{phoneNumber})
    </insert>

</mapper>